<div class="animated  fadeIn">
    <hr/>
    <div class="col-xs-12">
        <month-view class="col-xs-3" [month]="1" [year]="1395"></month-view>
        <month-view class="col-xs-3" [month]="2" [year]="1395"></month-view>
        <month-view class="col-xs-3" [month]="3" [year]="1396"></month-view>
        <month-view class="col-xs-3" [month]="4" [year]="1396"></month-view>
        <month-view class="col-xs-3" [month]="5" [year]="1397"></month-view>
        <month-view class="col-xs-3" [month]="6" [year]="1397"></month-view>
        <month-view class="col-xs-3" [month]="7" [year]="1396"></month-view>
        <month-view class="col-xs-3" [month]="8" [year]="1396"></month-view>
        <month-view class="col-xs-3" [month]="9" [year]="1396"></month-view>
        <month-view class="col-xs-3" [month]="10" [year]="1396"></month-view>
        <month-view class="col-xs-3" [month]="11" [year]="1394"></month-view>
        <month-view class="col-xs-3" [month]="12" [year]="1394"></month-view>
    </div>
</div>